{
  "extends": "@remotion",
  "globals": {
    "process": "readonly"
  },
  "rules": {
    "camelcase": "off",
    "@remotion/deterministic-randomness": "off",
    "@typescript-eslint/no-explicit-any": "off"
  }
}
